<header mdui-headroom class="mdui-appbar mdui-shadow-0 mdui-appbar-fixed">
    <div class="mdui-toolbar">
        <a href="javascript:;" class="mdui-btn mdui-btn-icon mdui-hidden-sm-up" mdui-drawer="{target: '#k-menu'}"><i class="mdui-icon material-icons">&#xe5d2;</i></a>
        <a href="{{site.url}}" class="mdui-typo-title">{{site.title |upcase }}</a>
        <div class="mdui-toolbar-spacer"></div>
        <div class="mdui-hidden-xs-down">
        {% for menu in site.data.menus %}
        <a href="{{menu.url}}" class="mdui-btn {% if menu.url == page.url %}mdui-list-item-active{% endif %}">{{menu.name}}</a>
        {% endfor %}
        </div>
    </div>
</header>
<div class="mdui-drawer mdui-drawer-close" id="k-menu">
    <ul class="mdui-list">
        {% for menu in site.data.menus %}
        <a href="{{menu.url}}" class="mdui-list-item mdui-ripple {% if menu.url == page.url %}mdui-list-item-active{% endif %}">
            <i class="mdui-list-item-icon mdui-icon material-icons">{{menu.icon}}</i>
            <div class="mdui-list-item-content">{{menu.name}}</div>
        </a>
        {% endfor %}
    </ul>
</div>