{% assign live2d = site.data.meng.live2d %}
<script type="text/javascript" src="{{ '/assets/js//bundle.js' | prepend: site.baseurl}}"></script>
<canvas id="live2dcanvas" width="{{live2d.width}}" height="{{live2d.height}}" class="live2d"></canvas>
<style>
  #live2dcanvas {
    position: fixed;
    z-index: 9999;
    cursor: move;
    bottom: {{live2d.bottom}}px;
    {% if live2d.leftOrRight == 'right' %}
    right:{{live2d.offset}}px;
    {% elsif live2d.leftOrRight == 'left' %}
    left:{{live2d.offset}}px
    {% endif %}
  }
</style>
<script>
    {% if live2d.drag == true %}
    function startDrag(box){
        var params = {
	        left: 0,
	        top: 0,
	        currentX: 0,
	        currentY: 0,
            flag: false
        };
        box = $(box);
        box.on('mousedown',function(e){
            params.flag = true;
            params.currentX = e.clientX;
		    params.currentY = e.clientY;
        });
        document.onmouseup  =function(e){
            params.flag = false;
        };
        document.onmousemove = function(e){
            if(params.flag){
                var w = parseInt($('#live2dcanvas').css('width'))/2;
                var h = parseInt($('#live2dcanvas').css('height'))/2;
                box.css('left',e.clientX-w);
                box.css('top',e.clientY-h);
            } 
        };
    }
startDrag("#live2dcanvas");
{% endif %}
loadlive2d("live2dcanvas", '{{live2d.model  | prepend: site.baseurl }}');
</script>

