{% if disqus_shortname != "" %} {% if page.layout == 'post' %}
<script>
    function proxyMode(disqus_proxy_url, disqus_shortname, disqus_identifier, disqus_api_key) {
        $.ajax({
            url: disqus_proxy_url + "/api/3.0/threads/list.json",
            type: 'get',
            dataType: 'json',
            data: {
                api_key: disqus_api_key,
                forum: disqus_shortname,
                thread: 'ident:' + disqus_identifier
            },
            success: function (data) {
                for (x in data.response) {
                    if (data.response[x].link.indexOf(disqus_identifier) > 1) {
                        var postid = data.response[x].id;
                        $.ajax({
                            url: disqus_proxy_url + "/api/3.0/posts/list.json",
                            type: 'get',
                            dataType: 'json',
                            data: {
                                api_key: disqus_api_key,
                                forum: disqus_shortname,
                                thread: postid
                            },
                            success: function (data) {
                                function getcontent(data) {
                                    console.log(data);
                                    var el = '<div class="mdui-card mdui-shadow-5">';
                                    el += '<div class="mdui-card-header">';
                                    el += '<img class="mdui-card-header-avatar" src="' + data.author.avatar.cache + '"/>';
                                    el += '<div class="mdui-card-header-title">' + data.author.name + '</div>';
                                    el += '<div class="mdui-card-header-subtitle">' + data.author.about + '</div>';
                                    el += '</div><div id="disqus' + data.id + '" class="mdui-card-content">';
                                    if (data.media.length > 0) {
                                        for (y in data.media) {
                                            data.message += '<a href="' + data.media[y].location + '" target="_blank" ><img class="mdui-img-fluid" src="' + data.media[y].location + '" /></a>'
                                        }
                                    }
                                    el += data.message;
                                    el +=  '<div class="mdui-card-actions"><button class="mdui-btn mdui-ripple k-reply mdui-float-right">回复</button></div>';
                                    el += '<div class="input mdui-m-b-2 mdui-hidden">';
                                    el += '<div class="mdui-textfield"><textarea class="mdui-textfield-input" placeholder="Description"></textarea></div>';
                                    el += '<div class="mdui-row-sm-3">';
                                    el += '<div class="mdui-col"><div class="mdui-textfield"><input class="mdui-textfield-input" type="text" name="name" placeholder="Name"/></div></div>';
                                    el += '<div class="mdui-col"><div class="mdui-textfield"><input class="mdui-textfield-input" type="text" name="email" placeholder="Email"/></div></div>';
                                    el += '<div class="mdui-col"><div class="mdui-textfield"><input class="mdui-textfield-input" type="text" name="website" placeholder="Website"/></div></div>';
                                    if (data.parent===null){
                                        el += '<button thread="'+data.thread+'" class="mdui-btn k-send mdui-btn-block mdui-ripple">发送</button>';
                                    }else{
                                        el += '<button thread="'+data.thread+'" parent="'+data.parent+'" class="k-send mdui-btn mdui-btn-block mdui-ripple">发送</button>';
                                    }
                                    el += '</div></div></div></div>';

                                    
                                    return el;
                                }

                                function sortComment(commentList) {
                                    commentList = commentList.map((comment) => {
                                        return Object.assign({}, comment)
                                    });
                                    let newList;
                                    let removeIdList;
                                    let idList;
                                    while (commentList.reduce((p, c) => {
                                            return p || typeof c.parent === 'string'
                                        }, false)) {
                                        newList = commentList.map((comment) => {
                                            return Object.assign({}, comment)
                                        });
                                        idList = commentList.map(comment => comment.id);
                                        removeIdList = [];
                                        commentList.forEach((comment, index) => {
                                            if (typeof comment.parent === 'string' &&
                                                commentList.reduce((p, c) => {
                                                    return p && c.parent !==
                                                        comment.id
                                                }, true)) {
                                                let parentIndex = idList.indexOf(
                                                    comment.parent);
                                                let parent = commentList[parentIndex];
                                                if (typeof newList[parentIndex].chilren ===
                                                    'undefined') newList[parentIndex].chilren = [];
                                                newList[parentIndex].chilren.push(
                                                    comment);
                                                removeIdList.push(comment.id);
                                            }
                                        });
                                        newList = newList.filter(comment => removeIdList.indexOf(
                                            comment.id) === -1);
                                        removeIdList = [];
                                        commentList = newList;
                                    }
                                    return commentList;
                                }
                                for (x in data.response) {
                                    if (data.response[x].parent !== null)
                                        data.response[x].parent = data.response[x].parent.toString();
                                }
                                var response = sortComment(data.response);

                                function digui(data) {
                                    if (data.parent === null) {
                                        var el = getcontent(data);
                                        $('#disqusreadonly').append(el);
                                        if (data.chilren) {
                                            for (x of data.chilren) {
                                                digui(x)
                                            }
                                        }
                                    } else {
                                        var el = getcontent(data);
                                        $('#disqusreadonly').find('#disqus' + data.parent).append(
                                            el);
                                        if (data.chilren) {
                                            for (x of data.chilren) {
                                                digui(x)
                                            }
                                        }
                                    }
                                }
                                for (x of response) {
                                    digui(x);
                                }
                                $(".k-reply").on('click',function(){
                                    var input = $(this).parent().next();
                                    if (input.hasClass('mdui-hidden')){
                                        input.removeClass('mdui-hidden');
                                    }else{
                                        input.addClass('mdui-hidden');
                                    }
                                });
                                $(".k-send").on('click',function(){
                                    console.log();
                                    $.ajax({
                                        url: disqus_proxy_url + "/api/3.0/posts/create.json",
                                        type: 'post',
                                        dataType: 'json',
                                        data:{
                                            api_key: disqus_api_key,
                                            parent:$(this).attr('parent'),
                                            thread:$(this).attr('thread'),
                                            author_email:$(this).parents('.input').find("input[name='email']").val(),
                                            author_name:$(this).parents('.input').find("input[name='name']").val(),
                                            author_url:$(this).parents('.input').find("input[name='website']").val(),
                                            message:$(this).parents('.input').find("textarea").val()
                                        }                                    
                                    });
                                });
                            }
                        });
                    }
                }
            }
        });
        xhr.abort();
    }
    var disqus_proxy_url = "{{site.disqus_proxy_url}}";
    var disqus_api_key = '{{site.disqus_api_key}}';
    var disqus_shortname = '{{site.disqus_shortname}}';
    var disqus_identifier = '{{page.url}}';
    var xhr = $.ajax({
        url: "https://disqus.com/api/3.0/posts/list.json",
        type: 'get',
        dataType: 'jsonp',
        data: {
            api_key: disqus_api_key
        },
        timeout: 100,
        error: function (xhr, textStatus) {
            if (textStatus == "timeout") {
                proxyMode(disqus_proxy_url, disqus_shortname, disqus_identifier, disqus_api_key);
            }
        },
        success: function () {
            if (typeof DISQUS !== 'object') {
                (function () {
                    var s = document.createElement('script');
                    s.async = true;
                    s.type = 'text/javascript';
                    s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[
                        0]).appendChild(s);
                }());
            }
        }
    });
</script>
{% endif %} {% endif %}