<style>
.k-readtime{
    color: #000000;
    background: #c0ffee;
    border-left: 5px solid #00ffd8;
    cursor: default;
}
.k-readtime:hover{
    background: #c0ffee;
}
.k-readtime:active{
    background: #c0ffee !important;
}
</style>
{% assign words = content | strip_html | strip_newlines | size %}
{% if words < 360 %}
<a class="mdui-btn mdui-btn-block k-readtime"  href="javascript:;">阅读本文需要1分钟</a>
{% else %}
<a class="mdui-btn mdui-btn-block k-readtime"  href="javascript:;">阅读本文需要{{ content | strip_html | strip_newlines | size | divided_by:360 | round}}分钟</a>
{% endif %}