{% if site.data.site.lang == null or site.data.site.lang == "" %}
{% assign lang = site.data.lang.en-US %}
{% else %}
{% assign lang = site.data.lang[site.data.site.lang] %}
{% endif %}
{% assign filename = page.url | replace_first: '/', '' | replace: '/', ''  | replace: '.html', '' | replace: 'category', '' %}
{{filename}}
<div class="k-posts-list"></div>

<style>
.small-icon{
	font-size: 14px;
}
.fixed-padding-top{
	padding-top: 10px;
}
.post-list-fixed{
	padding-left: 8px;
	padding-right: 8px;
}
</style>
<div class="k-container">
<div style="padding-top:8px;padding-bottom:8px;" class="mdui-typo-headline">
    {{ filename }}
</div>
    {% for post in site.categories[filename] %}
    <div class="animated flipInX mdui-card k-list-card mdui-shadow-{{site.data.site.card.card_shadow}} {% if site.data.site.card.card_hoverable == true%}mdui-hoverable{% endif %}">
      {% if post.img == "" or post.img == null %}
      <div class="mdui-card-media mdui-ripple k-post-media mdui-valign k-noimg">
        <h1><a href="{{post.url| prepend: site.baseurl}}">{{post.title}}</a></h3>
      </div>
      {% else %}
      <div class="mdui-card-media mdui-ripple k-post-media lazy" data-original="{{post.img}}">
        <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
          <div class="mdui-card-primary">
			<br>
		  {% if post.password == true %}
            <div class="mdui-card-primary-title"><a class="mdui-text-color-white-text" href="{{post.url| prepend: site.baseurl}}">{{post.title}}({{lang.page.passwd}})</a></div>
		  {% else %}
            <div class="mdui-card-primary-title"><a class="mdui-text-color-white-text" href="{{post.url| prepend: site.baseurl}}">{{post.title}}</a></div>
		  {% endif %}
		  </div>
        </div>
      </div>
      {% endif %}
      {% if post.describe != null %}
      <div class="mdui-card-content mdui-typo">
        {{post.describe}} <div class=" mdui-float-right"><a href="{{post.url | prepend: site.baseurl}}">{{lang.post.continue}}</a></div>
      </div>
      {% else %}
      <div class="mdui-card-content mdui-typo">
        {{ post.excerpt | strip_html}} <div class=" mdui-float-right"><a href="{{post.url | prepend: site.baseurl}}">{{lang.post.continue}}</a></div>
      </div>
      {% endif %}
	  <div class="post-list-fixed mdui-card-action">
		    <div class="mdui-divider"></div>
	  </div>
      <div class="mdui-card-content mdui-text-color-black-secondary mdui-typo">
        <div class="k-post-categories mdui-float-left"><i class="mdui-icon material-icons small-icon">&#xe192;</i>&nbsp;{{ post.date | date: "%b %-d, %Y" }}</div>
        {% for category in post.categories %}
        <div class="k-post-categories mdui-float-right"><a href="{{ "/category" | prepend: site.baseurl }}/{{category}}.html">{{category}}</a></div>
		{% endfor %}
	  </div>
	</div>
    {% endfor %}
</div>
    {% include content/component/lazyload.html %}
<script>
    Array.prototype.forEach.call(document.querySelectorAll(".mdui-card-media"), function(a) {
        var b = a.querySelector("a");
        if (!b) {
            return
        }
        a.addEventListener("click", function() {
            b.click();
        })
    });
  </script>