---
layout: default
---
<div class="k-container">
    <div class="k-posts-list"></div>
    {% for category in site.categories %}
    <ul class="mdui-list">
      <li class="mdui-subheader"><a name="{{ category | first }}">{{ category | first | upcase }}</a>
      {% for posts in category %}
      {% for post in posts %}
      {% if post.title %}
      <li class="mdui-list-item mdui-ripple">
        <a href="{{ post.url }}">
          <div class="mdui-list-item-content">
            <div class="mdui-list-item-title mdui-list-item-one-line">{{ post.title }}</div>
            <div class="mdui-list-item-text mdui-list-item-one-line">{{ post.excerpt | strip_html}}</div>
          </div>
        </a>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
      </li>
    </ul>
{% endfor %}
</div>