---
layout: compress
---
<!DOCTYPE html>
<html lang="{{site.data.site.lang}}">
    {% include head.html %}
    <body class="mdui-appbar-with-toolbar mdui-theme-primary-white mdui-theme-accent-blue" style="opacity: 0;">
    {% include header.html %}
    {% include main.html %}
    {% include footer.html %}
    {% include script.html %}
    {% if site.data.site.google_analytics != "" %}
    {% include analytics.html %}
    {% endif %}
    {% if site.data.site.uiux.meng == true%}
    {% if site.data.meng.live2d.switch == true %}
    {% include live2d.html %}
    {% endif %}
    {% endif %}
    </body>
</html>