---
layout: default
---

<div class="mdui-container k-editorcontainer">
    <div class="k-posts-list"></div>
    <h3>Title</h3>
    <div class="mdui-textfield">
        <input class="mdui-textfield-input" type="text" name=title maxlength="100"/>
    </div>
    <h3>Date</h3>
    <div class="mdui-textfield">
        <input class="mdui-textfield-input datepicker" name="date" type="date"/>
    </div>
{% capture categories %}
{% for c in site.categories %}
{{c[0]}}
{% endfor %}
{% endcapture %}

{% assign sortedcategories = categories | split:' ' | sort %}
    <h3>Categories</h3>
    <div class="mdui-row-md-4">
{% for c in sortedcategories %}
        <div class="mdui-col">
            <label class="mdui-radio">
                <input type="radio" value="{{c}}" name="group1"/>
                <i class="mdui-radio-icon"></i>
                    {{c}}
            </label>
        </div>
 {% endfor %}
         <div class="mdui-col">
            <label id="radio_custom"  class="mdui-radio mdui-float-left">
                <input type="radio" value="radio_custom" name="group1"/>
                <i class="mdui-radio-icon"></i>
            </label>
            <div style="padding-top: 0px;" class="mdui-textfield">
                <input class="mdui-textfield-input" name="radio_custom" type="text" placeholder="categories"/>
            </div>
        </div>
    </div>
    <h3>Tags</h3>
{% capture tags %}
{% for t in site.tags %}
{{t[0]}}
{% endfor %}
{% endcapture %}

{% assign sortedtags = tags | split:' ' | sort %}

{% for t in sortedtags %}

{% endfor %}

    <div class="chips chips-initial"></div>
    <h3>Image</h3>
    <div class="mdui-textfield">
        <input name="img" id="imgurl" class="mdui-textfield-input" type="text" placeholder="ImgUrl"/>
    </div>
    <img id="img" style="max-height:300px;" class="mdui-center" src="" alt="">
     <h3>Content</h3>
    <div class="mdui-textfield" style="z-index: 9999;">
        <textarea class="mdui-textfield-input" placeholder="Description"></textarea>
    </div>
    <button class="mdui-btn mdui-btn-block" id="create">Create file</button>
    <a  class="mdui-btn" download="info.markdown" id="downloadlink" style="display: none">Download</a>
</div>



