---
layout: default
---
<div class="mdui-container">
    <div class="mdui-row-sm-4">
        {% for f in site.data.friends %}
        <div class="mdui-col">
            <a class="k-friend" href="{{f.url}}" target="_blank">
            <div class="mdui-card">
                <div class="mdui-card-header">
                    <img class="mdui-card-header-avatar" src="{{f.image}}" />
                    <div class="mdui-card-header-title">{{f.name}}</div>
                    <div class="mdui-card-header-subtitle">{{f.describe}}</div>
                </div>
            </div>
            </a>
            <br>
        </div>
        {% endfor %}
    </div>
</div>