---
layout: default
---
{% if  site.data.site.lang == 'zh-CN' %}
{% assign lang = site.data.lang[site.data.site.lang] %}
{% else %}
{% assign lang = site.data.lang.en-US %}
{% endif %}

<div class="k-container">
  <div class="k-posts-list">
    {% for post in paginator.posts %}
    <div class="mdui-card k-list-card mdui-shadow-{{site.data.site.card.card_shadow}} {% if site.data.site.card.card_hoverable == true%}mdui-hoverable{% endif %}">
      <div class="mdui-card-media mdui-ripple k-post-media" data-original="{{post.img}}">
        <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
          <div class="mdui-card-primary">
            <div class="mdui-card-primary-title"><a class="mdui-text-color-white-text" href="{{post.url| prepend: site.baseurl}}">{{post.title}}</a></div>
          </div>
        </div>
      </div>
      <div class="mdui-card-content mdui-text-color-black-secondary mdui-typo">
        {{ post.excerpt | strip_html}} <a href="{{post.url | prepend: site.baseurl}}">{{lang.post.continue}}</a>
      </div>
      <div class="mdui-divider"></div>
      <div class="mdui-card-header">
        <div class="mdui-card-menu mdui-typo">
          {% for p in site.pages %}
          {% if p.layout == "category" %}
          {% assign ca = p.url %}
          {% endif %}
          {% endfor %}
          <a class="k-post-categories" href="{{ca | prepend: site.baseurl }}?category={{post.categories}}">{{post.categories}}</a>
        </div>
        <img class="mdui-card-header-avatar" src="{{site.data.site.img.avatar}}" />
        <div class="mdui-card-header-title">{{site.author}}</div>
        <div class="mdui-card-header-subtitle">{{ post.date | date: "%b %-d, %Y" }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if paginator.total_pages > 1 %}
  <div class="mdui-row-xs-3">
    <div class="mdui-col">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="mdui-btn mdui-btn-icon "><i class="mdui-icon material-icons">arrow_back</i></a>
        {% else %}
        <button disabled class="mdui-btn mdui-btn-icon "><i class="mdui-icon material-icons">arrow_back</i></button> 
        {% endif%}
    </div>

    <div class="mdui-col  mdui-text-center">
      <p style="width:100%">{{paginator.page}}/{{paginator.total_pages}}</p>
    </div>

    <div class="mdui-col">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">arrow_forward</i></a>
        {% else %}
        <button disabled class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">arrow_forward</i></button>
        {% endif %}
    </div>

  </div>
</div>
{% endif %}